
@media screen and (min-width: 1000px) and (max-width: 1500px) {
    /* STYLES HERE */

    #restaurants-list li {

      height: 305px;
      width:43%;

    }

    #restaurants-list li h1 {

    	height: 7%;
      font-size: 10pt;
    }

    #restaurants-list p {
    }

    .filter-options select {

      font-size: 8pt;
      height: 30px;
      margin: 10px 0 10px;


    }
}

@media screen and (min-width: 880px) and (max-width: 999px) {
    /* STYLES HERE */

    .col-6-map {width: 40%;}
    .col-6-list {width: 60%;}

    #restaurants-list li {

      height: 150px;
      width:100%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
    }

    #restaurants-list .restaurant-img {
      display: block;
    	padding-top: 10px;
      height: 130px;
      float: left;
    }

    #restaurants-list li h2 {

    	overflow-wrap:break-word;
      height:15%;
      position: relative;
      left:10%;
      font-size: 13pt;
      font-style: strong;
      margin-bottom: 8px;
     }
     #restaurants-list li a {
       position: relative;
       left:8%;
       top: 5px
       margin: 0px;
       overflow-wrap:break-word;

     }

     #restaurants-list p {
     /*line-height: 0;*/
     position: relative;
     left:10%;
     }


     .filter-options select {
       width: 140px;
       height: 20px;
       font-size: 8pt;

     }

     .filter-options h2 {
         font-size: 9pt;

     }

  }

@media screen and (min-width:358px) and (max-width:470px) {

  .col-6-map {width: 100%;}
  .col-6-list {width: 100%;}
  .col-6 {width: 100%;}

  #scroll {
  	overflow: scroll;
  	height:59vh;
  }

  #map {
    height:20vh;
  }

nav {
  padding-bottom: 5px;
  height:60px;
}
  nav h1 a {
    color: #fff;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 8px;
        line-height: 1;
        top: 0px;

  }


.filter-options select {
  width: 95px;
  height: 20px;
  font-size: 7pt;
      margin: 5px;
}

.filter-options h2 {
    font-size: 9pt;

}

#footer {
  line-height: 1;
  padding: 10px;
  font-size: 8pt;
}
  #restaurants-list li {

    height: 150px;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
  }

  #restaurants-list .restaurant-img {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 140px;
    float: left;
    margin-bottom: 10px;
  }

  #restaurants-list li h2 {

    overflow-wrap:break-word;
    position: relative;
    left:8%;
    font-size: 12pt;
    margin-top:15px;
    font-weight: bold;
   }

   #restaurants-list li a {
     position: relative;
     left:8%;
     overflow-wrap:break-word;
     margin: 15px 6px 3px;
     font-size: 8pt;
   }

   #restaurants-list p {
   position: relative;
   left:8%;
   font-size: 9pt;
   }

#breadcrumb {
    width: 100%;
    padding: 0px;
    height:20px;

}
#restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 100px 10px 30px;
    width: 50%;
}

#restaurant-cuisine {
    letter-spacing: 0px;
}

#reviews-container h2 {
    font-size: 12pt;
}
#reviews-container {
      padding: 5px 5px 80px;
    width: 60%;
}

#restaurant-address {
    font-size: 8pt;
    margin: 8px 0px;
}

#restaurant-name {
    font-size: 10pt;
}

/*Reviews page */

#restaurant-name {
 font-size: 15pt;
 margin: 100px 0 0px;
}

.inside #map-container {
    height: 20vh;
    width: 100%;
}
#breadcrumb {
  padding: 0px;
}

#restaurant-container, #reviews-container {
    border-top: 5vh solid #fff;
    width: 100%
}
#restaurant-cuisine {
    font-size: 8pt;
  }

  #reviews-list li {
    position: inherit;
  }

  .inside #footer {
    width: 100%;
}
}

@media screen and (max-width: 357px) {

.col-6-map {width: 100%;}
.col-6-list {width: 100%;}
.col-6 {width: 100%;}

#scroll {
  overflow: scroll;
  height:59vh;
}

#map {
  height: 20vh;

}

nav {
  padding-bottom: 5px;
  height:60px;
}
  nav h1 a {
    color: #fff;
    font-size: 10pt;
    font-weight: 100;
    letter-spacing: 8px;
        line-height: 1;
        top: 0px;

  }

.filter-options select {
  width: 95px;
  height: 20px;
  font-size: 7pt;
      margin: 5px;
}

.filter-options h2 {
    font-size: 9pt;

}

#footer {
  line-height: 1;
  padding: 10px;
  font-size: 8pt;
}

#restaurants-list li {
  height: 220px;
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}

#restaurants-list .restaurant-img {
    display: block;
    margin: 0;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#restaurants-list li h2 {

  overflow-wrap:break-word;
  font-size: 9pt;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
 }

 #restaurants-list p {
   font-size: 7pt;
 }

 #restaurants-list li a {
   font-size: 8pt;
 }

 /*Reviews page */

 #restaurant-name {
  font-size: 15pt;
  margin: 60px 0 0px;
}

 .inside #map-container {
     height: 20vh;
     width: 100%;
 }
 #breadcrumb {
   padding: 0px;
 }

 #restaurant-container, #reviews-container {
     border-top: 5vh solid #fff;
     width: 100%
 }
 #restaurant-cuisine {
     font-size: 8pt;
   }

   #reviews-list li {
     position: inherit;
   }

   .inside #footer {
     width: 100%;
 }

}
@media screen and (min-width: 471px) and (max-width: 879px) {

    .col-6-map {width: 25%;}
    .col-6-list {width: 75%;}


    .filter-options {
        height: 100px;
    }

    nav {
    height: 100px;
}
    #restaurants-list li {

      height: 150px;
      width:100%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
          padding: 0 10px 25px;
    }

    #restaurants-list .restaurant-img {
      display: block;
    	padding-top: 10px;
      height: 130px;
      float: left;
    }

    #restaurants-list li h2 {

    	overflow-wrap:break-word;
      height:15%;
      position: relative;
      left:6%;
      font-size: 8pt;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 20px;
     }

     #restaurants-list li a {
       position: relative;
       left:6%;
       top: 5px;
       margin: 0px;
       overflow-wrap:break-word;
       padding: 3px 12px 5px;
     }

     #restaurants-list p {
     /*line-height: 0;*/
     position: relative;
     left:6%;
     font-size: 9pt;
     }


     .filter-options select {
       width: 140px;
       height: 20px;
       font-size: 8pt;
     }

     .filter-options h2 {
         font-size: 9pt;
   }

   /*Reviews page */

   #restaurant-name {
    font-size: 15pt;
    margin: 60px 0 0px;
}

.inside #map-container {
    height: 20vh;
    width: 100%;
}
#breadcrumb {
  padding: 0px;
}

#restaurant-container, #reviews-container {
    border-top: 5vh solid #fff;
    width: 100%
}
#restaurant-cuisine {
    font-size: 8pt;
  }

  #reviews-list li {
    position: inherit;
  }

  .inside #footer {
    width: 100%;
}
}

     @media screen and (min-width: 2080px)  {
         /* STYLES HERE */

         #restaurants-list li h1 {

           height:1%;

          }

    }
}
