
@media screen and (min-width: 1000px) and (max-width: 1500px) {
    /* STYLES HERE */

    #restaurants-list li {

      height: 305px;
      width:43%;

    }

    #restaurants-list li h1 {

    	height: 7%;
    }

    #restaurants-list p {
    visibility: hidden;
    }

    .filter-options select {

      font-size: 8pt;
      height: 30px;

    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    /* STYLES HERE */

    .col-6-map {width: 40%;}
    .col-6-list {width: 60%;}

    #restaurants-list li {

      height: 150px;
      width:100%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
    }

    #restaurants-list .restaurant-img {
      display: block;
    	padding-top: 10px;
      height: 130px;
      float: left;
    }

    #restaurants-list li h1 {

    	overflow-wrap:break-word;
      height:15%;
      position: relative;
      left:10%;
     }
     #restaurants-list li a {
       position: relative;
       left:10%;
       margin: 0px;
       overflow-wrap:break-word;

     }

     #restaurants-list p {
     visibility: hidden;
     line-height: 0;
     }

     .filter-options select {

       font-size: 8pt;
       height: 30px;

     }

     @media screen and (min-width: 2080px)  {
         /* STYLES HERE */

         #restaurants-list li h1 {

           height:1%;

          }

    }
}
